* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -ms-touch-action: none;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 12px;
  font-family: ubuntu, helvetica, arial;
  overflow: hidden; /* this is important to prevent the whole page to bounce */
}
.container{
  position: relative;
  height: 300px;
  border:1px solid red;
}
.wrapper {
  position: absolute;
  z-index: 1;
  height: 100%;
  left: 0;
  width: 100%;
  background: #fffindex;
  overflow: hidden;
}
.scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
}

.pullUpMsg,.pullDownMsg{
  display: none;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
}
.iLoadingTop,.iLoadingBottom{
  display: none;
  width: 100%;
  height: 40px;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
}





/**/